.navbar{
    color: white;
    background-color: black;
    text-align: right;

}

.companyname {
    float: left;
    width: 50%;
    padding: 5px;
    
}

.companyname h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40px;

}

ul {
    list-style: none;
    display:inline-block;
    padding-top: 10px;
}

li {
    display: inline-block;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

a {
    text-decoration: none;
    color: lightblue;
}


